/* src/pages/Contact.css */

.contact-container {
    background-color: #f3f4f6; /* Background color */
    color: white;
    padding: 2.5rem; /* Tailwind's p-10 */
    width: 100%; /* Full width */
    height: 100vh; /* Full height of the viewport */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Align children in a column */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    background-image: url('C:\QuickMart\client\src\assets\images\bg.jpg');
    
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Create responsive columns */
    gap: 1rem; /* Tailwind's gap-4 */
}

.contact-form {
    background-color: #d1fae5; /* Tailwind's blue-500 */
    margin-top: 2.5rem; /* Tailwind's mt-10 */
    padding: 8rem; /* Increased padding for more space */
    border-radius: 0.75rem; /* Slightly larger corner radius for better aesthetics */
    width: 100%; /* Ensure the form takes full width */
    max-width: 600px; /* Increased max width to make the box larger */
}


.contact-form input {
    border: 1px solid #cbd5e1; /* Tailwind's border-gray-400 */
    padding: 0.5rem; /* Tailwind's p-2 */
    width: 100%;
}

.contact-form button {
    background-color: white;
    color: #1f2937; /* Tailwind's gray-800 */
    font-weight: bold;
    padding: 0.5rem 1rem; /* Tailwind's py-2 px-4 */
    border-radius: 0.25rem; /* Tailwind's rounded */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.contact-form button:hover {
    background-color: #f3f4f6; /* Tailwind's gray-100 */
}
